<h1>Boka boende</h1>

<div class="flex flex-row gap-16">
  <section>
    <section>
      <h2>Välj hur du vill betala</h2>
      <app-select-box
        label="Alternativ"
        placeholder="Betala hela summan direkt"
        [options]="['Betala hela summan direkt', 'Betala senare']"
        [(ngModel)]="paymentTime"
        [uniqueId]="'payment-time-select'"
      >
      </app-select-box>
    </section>
    <section>
      <h2>Betala med</h2>
      <div class="flex flex-col gap-4">
        <app-select-box
          label="Välj betalningsmetod"
          placeholder="Kredit- eller betalkort"
          [options]="['Kredit- eller betalkort', 'PayPal', 'Google Pay']"
          [(ngModel)]="paymentMethod"
          [uniqueId]="'payment-method-select'"
        >
        </app-select-box>
        <app-text-input
          [inputType]="'text'"
          [label]="'Kortnummer'"
          [(ngModel)]="name"
        ></app-text-input>
        <div class="flex flex-row gap-4">
          <app-text-input
            class="w-3/5"
            [inputType]="'text'"
            [label]="'Utgångsdatum'"
            [(ngModel)]="name"
          ></app-text-input>
          <app-text-input
            class="w-2/5"
            [inputType]="'text'"
            [label]="'CVV'"
            [(ngModel)]="name"
          ></app-text-input>
        </div>
      </div>
    </section>
    <section class="flex gap-3">
      <h2>Krävs för din resa</h2>
      <div class="flex flex-row gap-4 max-w-xl">
        <div>
          <p class="font-semibold">Skicka ett meddelande till värden</p>
          <p>
            Du måste berätta lite mer om din resa för värden och varför hens
            boende passar dig innan du kan fortsätta.
          </p>
        </div>
        <app-button buttonType="secondary" class="text-nowrap"
          >Lägg till</app-button
        >
      </div>
      <div class="flex flex-row gap-4 max-w-xl">
        <div>
          <p class="font-semibold">Telefonnummer</p>
          <p>
            Lägg till och bekräfta ditt telefonnummer för att få
            reseuppdateringar.
          </p>
        </div>
        <app-button buttonType="secondary" class="text-nowrap"
          >Lägg till</app-button
        >
      </div>
    </section>
    <section>
      <h2>Avbokningspolicy</h2>
      <p>
        Avboka innan den 29 apr. för en delvis återbetalning. Därefter är denna
        bokning inte återbetalningsbar.
      </p>
      <app-link linkType="secondary">Läs mer</app-link>
    </section>
    <section>
      <h2>Grundregler</h2>
      Vi ber varje gäst att komma ihåg några enkla saker om vad som kännetecknar
      en bra gäst.
      <ul>
        <li>Följ husreglerna</li>
        <li>Behandla din värds boende som om det vore ditt eget</li>
      </ul>
    </section>
  </section>
  <aside class="border border-brand-mediumGray rounded-2xl w-1/2 p-6 h-fit">
    <h2 class="mt-0 mb-0">Summering</h2>
    2 boende
    <div class="h-[1px] bg-brand-shadowGray mb-8 mt-4"></div>

    <div>
      <h3>Namn på boende</h3>
      <div>1 500SEK</div>
    </div>
    <div>
      <h3>Namn på boende</h3>
      <div>1 500SEK</div>
    </div>
    <div class="h-[1px] bg-brand-shadowGray my-8"></div>

    <h3>Totalt</h3>
    <div class="font-semibold">3 000SEK</div>
  </aside>
</div>
<div class="flex flex-row justify-between pt-8 items-center">
  <app-link linkType="secondary">Avbryt</app-link>
  <app-button buttonType="primary" [destination]="'/home'"
    >Boka boende</app-button
  >
</div>
