<div
  class="flex flex-col lg:flex-row-reverse lg:justify-between lg:items-center py-6 space-y-6 lg:space-y-0"
>
  <div
    class="flex flex-col md:flex-row content-center space-y-6 md:space-y-0 md:justify-between lg:space-x-6"
  >
    <div
      class="flex flex-row font-semibold gap-5 h-fit content-start justify-start"
    >
      <span
        class="flex flex-row gap-1 hover:bg-brand-shadowGray cursor-pointer p-1 rounded-md"
      >
        <i class="bi bi-globe"></i> Svenska (SE)</span
      >
      <span class="hover:bg-brand-shadowGray p-1 rounded-md cursor-pointer"
        >kr SEK</span
      >
    </div>
    <div class="flex flex-row gap-6 items-center">
      <i class="bi bi-facebook"></i>
      <i class="bi bi-twitter-x"></i>
      <i class="bi bi-instagram"></i>
    </div>
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="mr-2">© 2025 Airbnb, Inc.</div>
    <ul class="flex flex-row gap-2">
      ·
      <li>Integritet</li>
      ·
      <li>Villkor</li>
      ·
      <li>Sajtkarta</li>
      ·
      <li>Företagsuppgifter</li>
    </ul>
  </div>
</div>
