<section class="py-12">
  <h2>Vad detta boende erbjuder</h2>
  <ul class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
    <li class="items-center flex flex-row content-center font-semibold">
      <i class="bi bi-heart text-2xl mr-4"></i>Utsikt mot gården
    </li>
  </ul>
  <div class="mt-6">
    <app-button buttonType="secondary">Visa alla 49 bekvämligheter</app-button>
  </div>
</section>
