<section class="mb-8">
  <h2 class="hidden md:block text-2xl font-semibold mb-2">Bra att veta</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-12 text-brand-dark leading-6">
    <div>
      <h3 class="text-xl font-semibold mb-4">Husregler</h3>
      <ul class="space-y-2 text-brand-textLight md:text-brand-black">
        <li>Incheckning är 15:00–00:00</li>
        <li>Utcheckning innan kl. 10:00</li>
        <li>Max. 2 gäster</li>
      </ul>
      <button
        type="link"
        class="mt-4 text-base font-semibold underline text-gray-700 hover:text-black"
      >
        Visa mer
      </button>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-4">Säkerhet och egendom</h3>
      <ul class="space-y-2 text-brand-textLight md:text-brand-black">
        <li>Inget kolmonoxidlarm har rapporterats</li>
        <li>Brandvarnare</li>
      </ul>
      <button
        class="mt-4 text-base font-semibold underline text-gray-700 hover:text-black"
      >
        Visa mer
      </button>
    </div>

    <div>
      <h3 class="text-xl font-semibold mb-4">Avbokningspolicy</h3>
      <ul class="space-y-2 text-brand-textLight md:text-brand-black">
        <li>
          Gratis avbokning innan 12 juni. Avboka innan den 5 juli för en delvis
          återbetalning.
        </li>
        <li class="mt-2">
          Granska denna värds fullständiga policy för mer information.
        </li>
      </ul>
      <button
        class="mt-4 text-base font-semibold underline text-gray-700 hover:text-black"
      >
        Visa mer
      </button>
    </div>
  </div>
</section>
