<section class="mt-16 px-6 md:px-10 lg:px-20">
  <h2 class="text-2xl font-semibold mb-6">Var du kommer att vara</h2>

  <div class="w-full h-64 bg-gray-200 rounded-xl mb-6 overflow-hidden">
    <img
      [src]="'/images/map.webp'"
      alt="Karta"
      class="w-full h-full object-cover"
    />
  </div>

  <div class="text-md mb-4 text-gray-800 leading-6 space-y-4">
    <div>
      <h3 class="text-lg font-medium py-2">Ingarö, Stockholms län, Sverige</h3>
      <p class="py-2">
        Stugan ligger där land övergår i vatten – ingen går förbi eftersom man
        inte kommer längre. Baldersnäs består av 39 fastigheter, mest
        sommarstugor på stora tomter. Man promenerar i skog och på grusvägar.
        Närmsta naturreservat är 800 meter bort.
      </p>
    </div>

    <button
      class="mt-4 text-base font-semibold underline text-brand-dark hover:text-brand-black"
    >
      Visa mer
    </button>
  </div>
</section>
