<section class="mb-8">
  <h2 class="text-2xl font-semibold mb-4">Var du kommer vara</h2>
  <div class="aspect-video bg-gray-200 rounded-xl mb-4">
    <img
      [src]="'/images/map.webp'"
      alt="Karta"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="text-md mb-4 text-gray-800 leading-6">
    <h3 class="text-lg font-medium py-2">
      {{ listing?.city }}, {{ listing?.country }}
    </h3>
    <p class="py-2">{{ listing?.description }}</p>
  </div>
  <button
    (click)="openLocationModal()"
    class="text-base font-semibold underline text-brand-dark hover:text-black"
  >
    Visa mer
  </button>
</section>

<app-modal-lg
  #locationModal
  [heading]="'Plats'"
  [section2Title]="'Närliggande platser'"
  [section3Title]="'Transport'"
  [section4Title]="'Natur och omgivning'"
>
  <div section1>
    <p class="mb-4">{{ listing?.description }}</p>
    <div class="aspect-video bg-gray-200 rounded-xl">
      <img
        [src]="'/images/map.webp'"
        alt="Karta"
        class="w-full h-full object-cover"
      />
    </div>
  </div>

  <div section2>
    <ul class="space-y-4">
      <li>
        <h4 class="font-semibold">Närmaste by</h4>
        <p>{{ listing?.city }}, {{ listing?.country }}</p>
      </li>
      <li>
        <h4 class="font-semibold">Närmaste strand</h4>
        <p>5 km till havet</p>
      </li>
      <li>
        <h4 class="font-semibold">Närmaste affär</h4>
        <p>2.2 km till butik</p>
      </li>
    </ul>
  </div>

  <div section3>
    <ul class="space-y-4">
      <li>
        <h4 class="font-semibold">Busshållplats</h4>
        <p>2.2 km från boendet</p>
      </li>
      <li>
        <h4 class="font-semibold">Tågstation</h4>
        <p>15 km till närmaste station</p>
      </li>
      <li>
        <h4 class="font-semibold">Parkering</h4>
        <p>Gratis parkering på plats</p>
      </li>
    </ul>
  </div>

  <div section4>
    <ul class="space-y-4">
      <li>
        <h4 class="font-semibold">Skog</h4>
        <p>Omringad av skog och natur</p>
      </li>
      <li>
        <h4 class="font-semibold">Vandringsleder</h4>
        <p>Flera vandringsleder i närheten</p>
      </li>
      <li>
        <h4 class="font-semibold">Utsikt</h4>
        <p>Panoramavy över landskapet</p>
      </li>
    </ul>
  </div>
</app-modal-lg>
