<div class="max-w-5xl mx-auto px-20 pb-10">
  <app-listing-type-chapter></app-listing-type-chapter>
  <app-access-type-chapter></app-access-type-chapter>
  <app-title-chapter></app-title-chapter>
  <app-location-chapter></app-location-chapter>
  <app-description-chapter></app-description-chapter>

  <app-price-per-night-chapter></app-price-per-night-chapter>
  <app-images-chapter></app-images-chapter>
  <app-capacity-chapter></app-capacity-chapter>
</div>

<app-wizard-footer></app-wizard-footer>
