<div class="relative group mx-auto overflow-hidden">
  <div
    *ngIf="imageUrls.length === 0"
    class="w-full h-64 bg-gray-200 flex items-center justify-center rounded-3xl"
  >
    <span class="text-gray-500">No image available</span>
  </div>

  <img
    *ngIf="imageUrls.length > 0"
    [src]="imageUrls[currentIndex]"
    alt="Listing image"
    class="w-full h-auto object-cover aspect-square rounded-3xl"
    (error)="handleImageError($event)"
  />

  <!-- Vänsterpil -->
  <!-- preventDefault stoppar standardbeteende, stopPropagation gör att man inte navigerar till listings/:id vid klick på pilen -->
  <button
    *ngIf="currentIndex > 0"
    (click)="goToPrevious(); $event.preventDefault(); $event.stopPropagation()"
    class="arrow-button left-4"
    type="button"
  >
    <i class="bi bi-chevron-left text-sm"></i>
  </button>

  <!-- Högerpil -->
  <!-- preventDefault stoppar standardbeteende, stopPropagation gör att man inte navigerar till listings/:id vid klick på pilen -->
  <button
    *ngIf="currentIndex < images.length - 1"
    (click)="goToNext(); $event.preventDefault(); $event.stopPropagation()"
    class="arrow-button right-4"
    type="button"
  >
    <i class="bi bi-chevron-right text-sm"></i>
  </button>

  <!-- Prickar -->
  <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-2">
    <ng-container *ngFor="let image of images; let i = index">
      <div
        *ngIf="isDotVisible(i)"
        class="w-1.5 h-1.5 rounded-full"
        [ngClass]="{
          'bg-white': i === currentIndex,
          'bg-white/50': i !== currentIndex
        }"
      ></div>
    </ng-container>
  </div>
  <app-listing-badge
    *ngIf="hasBadge"
    class="absolute top-3.5 left-3"
  ></app-listing-badge>

  <i class="absolute top-2.5 right-4 text-white text-2xl bi bi-heart"></i>
</div>
