<section class="mt-12 pt-10">
  <h2 class="text-2xl font-semibold mb-4">Möt din värd</h2>

  <div class="flex flex-col md:flex-row">
    <div class="section-1 flex-1">
      <div>
        <div
          class="w-2/3 flex items-center justify-center gap-10 p-6 bg-white rounded-2xl shadow-[0_6px_16px_rgba(0,0,0,0.12)]"
        >
          <!-- Vänsterkolumnen -->
          <div class="flex flex-col items-center">
            <img
              src="https://placehold.co/80x80"
              alt="Profilbild för värd"
              class="rounded-full w-20 h-20 object-cover border"
            />
            <h3 class="text-xl font-semibold">Paula</h3>
            <p class="text-sm font-medium">
              <i class="bi bi-award"></i> Superhost
            </p>
          </div>

          <!-- Högerkolumnen -->
          <div class="flex flex-col ml-8 gap-2">
            <ul class="flex flex-col gap-1 w-full">
              <li
                class="flex flex-col items-start border-b border-gray-300 pb-2 last:border-b-0"
              >
                <span class="font-medium text-2xl">106</span>
                <span class="text-sm text-gray-600">omdömen</span>
              </li>
              <li
                class="flex flex-col items-start border-b border-gray-300 pb-2 last:border-b-0"
              >
                <span class="font-medium text-2xl">4,98</span>
                <span class="text-sm text-gray-600">i betyg</span>
              </li>
              <li
                class="flex flex-col items-start border-b border-gray-300 pb-2 last:border-b-0"
              >
                <span class="font-medium text-2xl">8</span>
                <span class="text-sm text-gray-600">år som värd</span>
              </li>
            </ul>
          </div>
        </div>

        <article class="mt-6">
          <ul>
            <li class="py-2"><i class="bi bi-balloon"></i> Född på 60-talet</li>
            <li class="py-2">
              <i class="bi bi-book"></i> Var jag gick i skolan: Ronneby
            </li>
          </ul>
          <p class="mt-4">
            En över 60 resenär som njuter av varje resa lika mycket.
          </p>
          <button
            class="text-md font-medium text-gray-800 underline mt-2 hover:text-black"
          >
            Visa mer
          </button>
        </article>
      </div>
    </div>

    <div class="section-2 flex-1">
      <div class="p-6 mt-[-40px]">
        <div>
          <h3 class="font-medium text-lg">Paula är en Superhost</h3>
          <p>
            Superhosts är erfarna värdar med gott anseende som engagerar sig för
            att tillhandahålla en fantastisk vistelse för sina gäster.
          </p>
        </div>

        <div class="mt-6">
          <h4 class="text-lg font-semibold mb-2">Medvärdar:</h4>
          <div class="flex items-center gap-2">
            <img
              src="https://placehold.co/40x40"
              alt="Profilbild för värd"
              class="rounded-full w-10 h-10 object-cover border"
            />
            <span>Olle</span>
          </div>
        </div>

        <div class="mt-6">
          <h4 class="text-lg font-semibold mb-2">Information om värd</h4>
          <p class="py-4 mb-2">
            Svarsfrekvens: <span class="font-medium">100%</span><br />
            Svarar inom en timme
          </p>

          <app-button buttonType="dark" class="">
            Skicka meddelande till värd
          </app-button>

          <p class="text-md text-brand-black mt-4 underline">
            Detta boende tillhandahålls av en privatperson. Läs mer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
