<main class="main">
  <div class="content">
    <h1>Hello, {{ title }}</h1>
    <app-text-input
      [inputType]="'text'"
      [label]="'Telefonnummer'"
      [(ngModel)]="name"
    ></app-text-input>

    <p>Congratulations! Your app is running. 🎉</p>
    <app-button buttonType="primary">Reservera</app-button>
    <app-button buttonType="secondary">Visa alla bekvämligheter</app-button>
    <app-button buttonType="icon"><i class="bi bi-search"></i></app-button>

    <!-- Använd select-box för att visa ett antal vuxna -->
    <app-select-box label="Gäster" [uniqueId]="'Number of Guests'">
      <app-counter-option
        label="Vuxna"
        description="13 år och äldre"
        [value]="1"
      ></app-counter-option>
      <app-counter-option
        label="Barn"
        description="2-12 år"
        [value]="0"
      ></app-counter-option>
      <app-counter-option
        label="Spädbarn"
        description="Under 2 år"
        [value]="0"
      ></app-counter-option>
      <app-counter-option
        label="Husdjur"
        [value]="0"
        description="Tar du med ett tjänstdjur?"
      ></app-counter-option>
    </app-select-box>

    <app-counter-option
      label="Vuxna"
      description="Antal vuxna"
    ></app-counter-option>

    <app-select-box label="Gäster" [uniqueId]="'Something else'">
      <app-counter-option
        label="Vuxna"
        description="13 år och äldre"
        [value]="1"
      ></app-counter-option>
      <app-counter-option
        label="Barn"
        description="2-12 år"
        [value]="0"
      ></app-counter-option>
      <app-counter-option
        label="Spädbarn"
        description="Under 2 år"
        [value]="0"
      ></app-counter-option>
      <app-counter-option
        label="Husdjur"
        [value]="0"
        description="Tar du med ett tjänstdjur?"
      ></app-counter-option>
    </app-select-box>
  </div>
</main>
<router-outlet />
