<div class="flex flex-col md:flex-row py-6">
  <div class="list-container">
    <h3>Stöd</h3>
    <ul>
      <li>Hjälpcenter</li>
      <li>AirCover</li>
      <li>Antidiskriminering</li>
      <li>Stöd för funktionsnedsättning</li>
      <li>Avbokningsalternativ</li>
      <li>Rapportera grannskapsproblem</li>
    </ul>
  </div>
  <div class="list-container">
    <h3>Värdskap</h3>
    <ul>
      <li>Hyr ut ditt boende på Airbnb</li>
      <li>AirCover för värdar</li>
      <li>Värdresurser</li>
      <li>Community-forum</li>
      <li>Ansvarsfullt värdskap</li>
      <li>Delta i en gratis värdskapslektion</li>
      <li>Hitta en medvärd</li>
    </ul>
  </div>
  <div class="list-container">
    <h3>Airbnb</h3>
    <ul>
      <li>Pressrum</li>
      <li>Nya funktioner</li>
      <li>Lediga tjänster</li>
      <li>Investerare</li>
      <li>Nödboenden med Airbnb.org</li>
    </ul>
  </div>
</div>
