.input-container {
  @apply flex flex-col relative w-fit border border-brand-borderGray focus:border-2 rounded-lg box-border;
}

.input-container.full-width {
  @apply w-full;
}

.form-input {
  @apply text-brand-black text-base leading-6 pt-6 pb-2 px-3 w-fit bg-transparent rounded-lg border-none;
}

.form-input.full-width {
  @apply w-full;
}

.floating-label {
  @apply absolute left-3 top-3.5 text-base transition-all duration-200 ease-in-out text-[#8c8c8c] pointer-events-none;
}

.input-container.focused .floating-label {
  @apply top-2 text-xs text-brand-textLight;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"].form-input {
  @apply pt-3.5 pb-4;
}
