<h2>Låt gästerna veta vad till boendet har att erbjuda</h2>
<p class="text-brand-textLight mb-8 text-lg">
  Du kan lägga till fler bekvämligheter när du publicerat.
</p>

<!-- Favorite amenities -->
<h3>Finns några av dessa gästfavoriter?</h3>
<div class="grid grid-cols-2 gap-3 md:grid-cols-3">
  <app-toggle-card-sm
    *ngFor="let amenity of favoriteTypes"
    [icon]="amenity.icon"
    [title]="amenity.name"
    [isSelected]="selectedAmenities.includes(amenity.name)"
    (isSelectedChange)="onToggleAmenity(amenity.name)"
  ></app-toggle-card-sm>
</div>

<!-- Uniqe amenities -->
<h3>Har du några bekvämligheter som sticker ut från mängden?</h3>
<div class="grid grid-cols-2 gap-3 md:grid-cols-3">
  <app-toggle-card-sm
    *ngFor="let amenity of uniqeTypes"
    [icon]="amenity.icon"
    [title]="amenity.name"
    [isSelected]="selectedAmenities.includes(amenity.name)"
    (isSelectedChange)="onToggleAmenity(amenity.name)"
  ></app-toggle-card-sm>
</div>

<!-- Security amenities -->
<h3>Har du någon av dessa säkerhetsutrustningar?</h3>
<div class="grid grid-cols-2 gap-3 md:grid-cols-3">
  <app-toggle-card-sm
    *ngFor="let amenity of securityTypes"
    [icon]="amenity.icon"
    [title]="amenity.name"
    [isSelected]="selectedAmenities.includes(amenity.name)"
    (isSelectedChange)="onToggleAmenity(amenity.name)"
  ></app-toggle-card-sm>
</div>
