/* Pilen som roterar vid dropdownens öppning */
.bi-chevron-down {
  transition: transform 0.2s ease-in-out;
}

.bi-chevron-down.rotate-180 {
  transform: rotate(180deg); /* Vrid pilen när dropdownen är öppen */
}

/* Dropdown-styling */
.dropdown {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
  z-index: 10; /* Se till att dropdown är ovanpå andra element */
}

.option {
  padding: 0.5rem;
  cursor: pointer;
}
.label {
  font-size-adjust: ex-height 0.4;
}
.option:hover {
  background-color: #f0f0f0;
}

/* När dropdownen är fokuserad, markera inputfältet */
.focused {
  border-color: #007bff;
}

.transform {
  transform: translateY(-50%);
}
