<div class="input-container">
  <label for="select" class="label">{{ label }}</label>
  <div class="select-wrapper">
    <select
      id="select"
      class="form-select"
      [(ngModel)]="value"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (change)="onInput($event)"
    >
      >
      <option value="" disabled selected hidden>{{ placeholder }}</option>
      <option *ngFor="let option of options" [value]="option">
        {{ option }}
      </option>
    </select>
  </div>
</div>
