<div class="flex flex-row justify-between p-4 text-[#222] w-full">
  <div>
    <div class="font-semibold">{{ label }}</div>
    <div>{{ description }}</div>
  </div>
  <div class="counter-container">
    <button
      class="counter-button"
      (click)="decrease()"
      [disabled]="value === 0"
    >
      <i class="bi bi-dash"></i>
    </button>
    <span class="counter-value">{{ value }}</span>
    <button class="counter-button" (click)="increase()">
      <i class="bi bi-plus"></i>
    </button>
  </div>
</div>
