<section
  class="header w-full mx-auto py-4 px-6 md:px-10 relative z-50 shadow-md shadow-neutral-200"
>
  <div
    class="header-navigation relative flex justify-between items-center px-2 md:px-4 py-2 bg-white"
  >
    <div class="hidden md:block z-10">
      <app-logo></app-logo>
    </div>

    <nav class="hidden xl:flex flex-wrap justify-center gap-8 z-0 ml-[190px]">
      <a
        href="#"
        class="text-lg font-semibold text-gray-700 hover:text-gray-900 transition-colors"
      >
        Boenden
      </a>
      <a
        href="#"
        class="text-lg text-gray-500 hover:text-gray-900 transition-colors"
      >
        Upplevelser
      </a>
    </nav>

    <div class="flex items-center gap-4 z-10">
      <a
        href="#"
        class="hidden md:block text-md font-semibold text-gray-700 hover:text-gray-900 transition-colors mr-4"
      >
        Hyr ut ditt boende på Airbnb
      </a>
      <div class="hidden md:block">
        <lucide-icon name="globe" class="w-5"></lucide-icon>
      </div>
      <div class="relative hidden md:block">
        <button [routerLink]="['/booking']" class="pr-5">
          <lucide-icon name="shopping-bag" class="w-5 h-5"></lucide-icon>
        </button>
        <app-button buttonType="pill" (click)="modalSm.toggle()">
          <div class="flex justify-between items-center gap-2">
            <lucide-icon name="menu" class="w-5 h-5"></lucide-icon>
            <lucide-icon name="user" class="w-5 h-5"></lucide-icon>
          </div>
        </app-button>

        <app-modal-sm #modalSm class="relative z-50">
          <ul class="py-2">
            <li class="font-semibold">
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Bli medlem
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Logga in
              </a>
            </li>
            <div class="h-px bg-gray-200 my-2"></div>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Presentkort
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Hyr ut ditt boende på Airbnb
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Var värd för en upplevelse
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Hjälpcenter
              </a>
            </li>
          </ul>
        </app-modal-sm>
      </div>
    </div>
  </div>

  <div class="sticky top-0 z-30 w-full">
    <app-search-bar></app-search-bar>
  </div>
</section>
