<section class="header w-full mx-auto">
  <div class="header-navigation flex justify-between items-center px-4 py-2">
    <div class="flex items-center gap-2">
      <img
        src="https://placehold.co/20x10.png"
        alt="Airbnb Logo"
        class="w-32"
      />
    </div>

    <!-- Navigation Links -->
    <div class="hidden md:flex gap-6">
      <a
        href="#"
        class="text-lg font-semibold text-gray-700 hover:text-gray-900"
        >Boenden</a
      >
      <a href="#" class="text-lg text-gray-600 hover:text-gray-900"
        >Upplevelser</a
      >
    </div>

    <div class="flex items-center gap-4">
      <a
        href="#"
        class="text-lg font-semibold text-gray-700 hover:text-gray-900"
        >Hyr ut ditt boende på Airbnb</a
      >

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-globe-icon lucide-globe"
      >
        <circle cx="12" cy="12" r="10" />
        <path d="M12 2a14.5 14.5 0 0 0 0 20 14.5 14.5 0 0 0 0-20" />
        <path d="M2 12h20" />
      </svg>

      <!-- Modal Small -->
      <div class="relative inline-block">
        <app-button buttonType="pill" (click)="modalSm.toggle()">
          <div class="flex justify-between gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-align-justify-icon lucide-align-justify"
            >
              <path d="M3 12h18" />
              <path d="M3 18h18" />
              <path d="M3 6h18" />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-user-round-icon lucide-user-round"
            >
              <circle cx="12" cy="8" r="5" />
              <path d="M20 21a8 8 0 0 0-16 0" />
            </svg>
          </div>
        </app-button>
        <app-modal-sm #modalSm>
          <ul>
            <li class="font-semibold">
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Bli medlem</a
              >
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Logga in</a
              >
            </li>
            <div class="h-px bg-gray-200 my-2 mx-0"></div>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Presentkort</a
              >
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Hyr ut ditt boende på Airbnb</a
              >
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Var värd för en upplevelse</a
              >
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm"
                >Hjälpcenter</a
              >
            </li>
          </ul>
        </app-modal-sm>
      </div>
    </div>
  </div>

  <app-search-bar></app-search-bar>

  <!-- TODO: Fixa categoryScroller-komponent och importera här -->
</section>
