<section class="header w-full mx-auto py-4 relative z-50 shadow-md">
  <div
    class="header-navigation relative flex justify-between items-center px-4 py-2 bg-white"
  >
    <div class="hidden md:block z-10">
      <img
        src="https://placehold.co/120x40?text=Airbnb"
        alt="Airbnb Logo"
        class="w-32"
      />
    </div>

    <nav
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hidden md:flex gap-8 z-0"
    >
      <a
        href="#"
        class="text-lg font-semibold text-gray-700 hover:text-gray-900 transition-colors"
      >
        Boenden
      </a>
      <a
        href="#"
        class="text-lg font-semibold text-gray-700 hover:text-gray-900 transition-colors"
      >
        Upplevelser
      </a>
    </nav>
    <div class="flex items-center gap-4 z-10">
      <div class="hidden md:block">
        <lucide-icon name="globe"></lucide-icon>
      </div>

      <div class="relative inline-block hidden md:block">
        <app-button buttonType="pill" (click)="modalSm.toggle()">
          <div class="flex justify-between items-center gap-2">
            <lucide-icon name="menu"></lucide-icon>
            <lucide-icon name="user"></lucide-icon>
          </div>
        </app-button>

        <app-modal-sm #modalSm>
          <ul class="py-2">
            <li class="font-semibold">
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Bli medlem
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Logga in
              </a>
            </li>
            <div class="h-px bg-gray-200 my-2"></div>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Presentkort
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Hyr ut ditt boende på Airbnb
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Var värd för en upplevelse
              </a>
            </li>
            <li>
              <a
                routerLink="#"
                class="block px-4 py-2 hover:bg-gray-100 text-sm transition-colors"
              >
                Hjälpcenter
              </a>
            </li>
          </ul>
        </app-modal-sm>
      </div>
    </div>
  </div>

  <div class="sticky top-0 z-40 bg-white shadow-sm transition-all w-full">
    <app-search-bar></app-search-bar>
  </div>
</section>
