<app-ld-header-section [headerData]="headerData" [images]="listingImages">
</app-ld-header-section>

<div class="max-w-7xl px-6 md:px-10 lg:px-20">
  <app-ld-bedroom-section></app-ld-bedroom-section>
  <div class="h-[1px] bg-brand-shadowGray"></div>

  <app-ld-amenities-section [amenities]="amenities"></app-ld-amenities-section>
</div>
<div class="h-[1px] bg-brand-shadowGray"></div>

<app-listing-badge></app-listing-badge>
<app-listing-card></app-listing-card>

<app-listing-grid> </app-listing-grid>
<!-- <app-ld-amenities-section></app-ld-amenities-section> -->
<!-- <app-ld-bedroom-section></app-ld-bedroom-section> -->
<app-footer></app-footer>
