<div
  class="w-full overflow-x-auto border-t border-gray-200 bg-white shadow-sm z-30"
>
  <div class="flex gap-6 px-6 py-3 min-w-max">
    <ng-container *ngFor="let category of categories">
      <button
        class="flex flex-col items-center justify-center text-sm font-medium text-gray-600 hover:text-black transition"
      >
        <!-- <ng-container *ngComponentOutlet="category.icon"></ng-container> -->
        <img
          [src]="'/icons/' + category.icon"
          [alt]="category.name"
          class="w-6 h-6"
        />

        <span class="mt-1 hover:underline">{{ category.name }}</span>
      </button>
    </ng-container>
  </div>
</div>
